.success-page {
  min-height: 100vh;

  background-color: #f8f9fb;
}

.success-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 80vh;
}

.success-box {
  background-color: white;

  padding: 60px;

  border-radius: 20px;

  text-align: center;

  box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
}

.success-box h1 {
  font-size: 40px;

  margin-bottom: 20px;

  color: #28a745;
}

.success-box p {
  font-size: 18px;

  color: gray;

  margin-bottom: 20px;
}

.success-box h2 {
  color: #ff5a5f;
}